deploy_test/src/main/mule/deploy_test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6ee36f55-9ca3-4a12-b853-cbc97f08aed8" >
		<http:listener-connection host="${http.host}" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="44ed9fd3-6581-49d1-a2c9-762db3cbc056" file="properties.yaml" />
	<flow name="deploy_testFlow" doc:id="0535bb44-7797-41cd-9a19-46f09a0072dc" >
		<http:listener doc:name="Listener" doc:id="7812d11c-fa1d-4281-af27-53f776bb9e32" config-ref="HTTP_Listener_config" path="/deploy_test"/>
		<logger level="INFO" doc:name="Logger" doc:id="c0527505-b2e8-4f1f-a72f-23c7bd5ff967" message="#[payload]"/>
	</flow>
</mule>
