test_vari/src/main/mule/event.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<flow name="eventFlow" doc:id="b105aab9-851f-4af6-a832-b386fb194ddc" >
		<scheduler doc:name="Scheduler" doc:id="c373d05a-1016-4130-b2c8-cddd8726c9d9" >
			<scheduling-strategy >
				<fixed-frequency frequency="15" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<set-payload value="PAYLOAD EVENT1" doc:name="Set Payload" doc:id="7d0b8dc2-304f-4bdc-adc6-4a3c71ce26b5" />
		<logger level="INFO" doc:name="Logger" doc:id="e99cae56-9203-4d4e-a8c7-7d54388fbad1" message="inzio event"/>
		<tracking:custom-event doc:name="Custom Business Event" doc:id="2f33db07-62e5-43a7-a584-6853a08389c0" event-name="EVENT1">
			<tracking:meta-data key="EVENT1" value="#[payload]" />
		</tracking:custom-event>
		<logger level="INFO" doc:name="Logger" doc:id="9a2c778e-cfba-4e37-beef-361251d956cc"/>
	</flow>
</mule>
