test_vari/src/main/mule/for_each.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="for_eachFlow" doc:id="bcfa3c4d-ef19-4beb-b252-5dce0b336e50" >
		<scheduler doc:name="Scheduler" doc:id="ed9bcf21-3f35-4686-a0f5-ad23480c2520" >
			<scheduling-strategy >
				<fixed-frequency frequency="15" timeUnit="MINUTES" startDelay="4"/>
			</scheduling-strategy>
		</scheduler>
		<set-payload value='#[[{
		"test": {
		"id_luce": "4"
	    },
		"test": {
		
		"id_luce": "5"
	    },
		"test": {
		
		"id_luce": "8"
	    }
	},
	{
		"test": {
		"id_luce": "4"
	    },
		"test": {
		
		"id_luce": "5"
	    },
		"test": {
		
		"id_luce": "8"
	    }
	},
	{
		"test": {
		"id_luce": "4"
	    },
		"test": {
		
		"id_luce": "5"
	    },
		"test": {
		
		"id_luce": "8"
	    }
	}
	
	]]' doc:name="Set Payload" doc:id="5e06a0b7-44c7-43ba-82e4-dfe68e4eb880" />
		<foreach doc:name="For Each" doc:id="12e20752-5c7d-4044-a94c-eac2fe05a1ba" batchSize="2" collection="#[%dw 2.0
output application/java
---
payload]">
			<logger level="INFO" doc:name="Logger" doc:id="0fc886e1-01fa-41d8-a8c7-6dc6f3ac18d3" message="#[OK]"/>
		</foreach>
	</flow>
</mule>
