test_vari/src/main/mule/validation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:compression="http://www.mulesoft.org/schema/mule/compression"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/compression http://www.mulesoft.org/schema/mule/compression/current/mule-compression.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<validation:config name="Validation_Config" doc:name="Validation Config" doc:id="298a78d9-7849-4d96-b6e0-1ba35b3f41cd" />
	<flow name="validationFlow" doc:id="f3771a4d-9d24-484f-81c5-d818fba63602" >
		<scheduler doc:name="Scheduler" doc:id="411b1e93-1e08-42c3-aa7b-62a725e668c7" >
			<scheduling-strategy >
				<fixed-frequency frequency="15" timeUnit="HOURS" startDelay="30"/>
			</scheduling-strategy>
		</scheduler>
		<set-variable value="43434343" doc:name="Set Variable" doc:id="b7071100-3f80-46fe-b50d-938f65073fea" variableName="INPUT"/>
		<logger level="INFO" doc:name="Logger" doc:id="143fe341-2280-4b44-b507-b3a70427ec6c" message="#[%dw 2.0
import isNumeric from dw::core::Strings
output application/java
---

if (isNumeric(vars.INPUT)) 'OK' else 'KO']" />
		<ee:transform doc:name="correlationId" doc:id="5428a38c-4b65-408c-88ae-633cb3d39956" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
correlationId]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7d548111-6515-4c35-a876-bae68542e9e3" message="#[payload]"/>
		<tracking:custom-event doc:name="Custom Business Event" doc:id="502f6d08-4875-48fc-9ca9-46be428ad874" event-name="TEST">
			<tracking:meta-data key="var_value" value="#[vars.INPUT]"/>
			<tracking:meta-data key="test_value" value="TEST_VALUE" />
		</tracking:custom-event>
	</flow>
</mule>
